/*index page css*/
*{margin:0; padding:0;}
body{
	background:url('login3.jpg');
	padding-top: 30vh;
	background-repeat: no-repeat;
	background-size: cover;
}


.form-container{
	width:250px;
	height:auto;
	padding:40px 30px;
	background:url('school.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #000;
	margin: auto;
	position: relative;
}

